<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css"/>

</head>
<body>
    <header>
        <div class = "mt-5">
            <button class = "ms-5 m-8"><a href = "/views/homepage.html"><h1>Home</h1></button></a>
            <button class = "ms-5 m-8"><a href = "/index.html"><h1>Watch List</h1></button></a>
            <button class = "ms-5 m-8"><a href = "/views/layouts/login.html"><h1>Login</h1></button></a>
            <button class = "ms-5 m-8"><h1>Log out</h1></button>
        </div>
    <form>
        <div class="form-group mt-5">
            <div>
                <label for="exampleInputEmail1">User Name</label>
                <input type="name" class="form-control" id="userName" aria-describedby="userNameHelp" placeholder="Enter User Name">
                <small id="emailHelp" class="form-text text-light">We'll never share your email with anyone else.</small>
            </div>
          </div>
        <div class="form-group mt-5">
            <div>
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-light">We'll never share your email with anyone else.</small>
            </div>
        </div>
        <div class="form-group mt-5">
            <div>
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-5"><a href = "../homepage.html">Submit</a></button>
      </form>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12/dist/gsap.min.js"></script>
    <script src="/tailwind.config.js"></script> 
</body>
</html>