<h2>Browse TV Shows</h2>
<div id="tvShowsContainer" class="row">
    {{#each tvShows as |show|}}
        {{> tvshowCard show}}
    {{/each}}
</div>

<script>
// Fetch the TV Shows when the page is loaded

</script>
