<div class="card">
    <h3 class="card-header">Edit Post</h3>
    <form class="card-body edit-post-form">
        <label for="review-title" class="form-label">Title</label>
        <input name="review-title" type="text" value="{{review.title}}" class="form-input" />
        <label class="form-label" for="content">Content</label>
        <input name="content" type="text" value="{{review.comment}}" class="form-input" />
        <button type="submit" class="btn">Update Review</button>
        <button type="button" class="delete-review-btn btn">Delete Review</button>
    </form>
</div>

<script src="/js/edit-review.js"></script>
<script src="/js/del-review.js"></script>