<div class="row">
  <div class="col-auto">
    <p>Note: you are viewing profile.handlebars</p>
    <h1>Welcome to your watchlist!</h1>

    <!-- Add a link to the browse page -->
    <a href="/browse" class="btn btn-primary">Browse TV Shows</a>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h2>Your Current Shows</h2>

    {{#if tvshows.length}}
    <div class="col-md-6 tvshow-list">
      <h3>Current TVShows:</h3>

      {{#each tvshows as |tvshow|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/tvshow/{{tvshow.id}}">{{tvshow.name}}</a></h4>
        </div>
        <div class="col-md-4">
          <button class="btn btn-sm btn-danger" data-id="{{tvshow.id}}">Remove</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{else}}
      <p>You have no shows in your watchlist. Go add some!</p>
    {{/if}}
  </div>
</div>

<script src="./js/profile.js"></script>