{{#if reviews.length}}
<section>
  <h2>Your Reviews</h2>
    {{#each reviews as |review|}}
      {{> reviewinfo review}}
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/reviews/new">+ New Review</a></button>

<script src="/js/new-review.js"></script>